
@media (min-width: 992px){
    .about-page .row.height-all,
    .services-page .row.height-all,
    .contact-page .row.height-all{
        overflow: hidden;
        overflow-y: auto;
    }
    .about-page .container-scroll .screen-lg-big,
    .services-page .container-scroll .screen-lg-big,
    .contact-page .container-scroll .screen-lg-big{
        display: table;
        width: 100%;
        height: 100%;
    }    
    .about-page .container-scroll .container, 
    .services-page .container-scroll .container, 
    .contact-page .container-scroll .container{
        display: table-cell;
        vertical-align: middle;
        padding-left: 80px;
        padding-right: 80px;
    }
    .about-page .container-scroll .container .screen-lg{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .services-page p {
        padding-right: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1125px) {
    .coming-soon .contant-prag {
        margin: 60px 195px;    
    }
    .services-page p {
        padding-right: 50px;
    }
}

@media(max-width: 991px) {
    .coming-soon .contant-prag {
        margin: 60px 90px;
        margin-bottom: 46px;
        margin-top: 45px;
    }
	.coming-soon p { padding: 0; }
	.timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper {
        width: 145px;
    }
    .img-mobile{
        padding-top: 20px; 
    }

}

@media (max-width: 767px) {
    /** Nav **/
    .navbar {
        padding: 0.5rem 0;
    }
    .navbar-dark .navbar-brand{
        padding-left: 15px;
    }
    .navbar-dark .navbar-toggler{
        margin-right: 15px;
    }
    .navbar-nav{
        background: #333;
        padding: 5px 15px;
    }
    .navbar-dark .navbar-nav .nav-item::before {
        transform: translate(0px, -5px);
    }
    .navbar-dark .navbar-nav .active::before {
        width: 10%;
    }   
    /** Nav **/
    .coming-soon .contant-prag{
        margin: 60px;
        margin-top: 15px;
        margin-bottom: 0px;
        
    }
    .timer {
        margin-top: 25px;
    }
    .coming-soon h2{
        margin-top: 0;
    }	
	.timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper { 
        width: 58px;
    }
    .timer .days, .timer .hours, .timer .minutes, .timer .seconds {
        font-size: 42px;
        font-weight: 100;
        line-height: 90px;
    }
	.timer .slash { display: none; }
    
    .coming-soon .contant-btn {    
        margin-top: 35px;
    }
    /** About **/
    .btn-molo,.btn-molo-border{
        margin-bottom: 20px;
    }
    /** Service **/
    .services-page .service-body{
        margin-bottom: 10px;
        
    } 
    /** Service **/
    /** Contact **/
    .contact-page form .form-group:first-of-type,
    .contact-page form .form-group:nth-of-type(2){
        width: 100%;
    }
    /** Contact **/
    
    
}

@media (max-width: 480px) {        
     /* Responsive Home */  
    .home-page .content-home h1 {
      font-size: 3em;
    }    
    .home-page .copy-right{
        padding: 7px;
        font-size: 10px;
    }
    .home-page .social-media{
        padding: 8px; 
    }
    .home-page .social-media li {    
        padding: 0 5px;
        font-size: 13px;
    }    
    .about-page .icon-max, .services-page .icon-max, .contact-page .icon-max, .portfolio-page .icon-max{
        height: 10%;
    }
    .about-page .container-scroll, .services-page .container-scroll, .contact-page .container-scroll, .portfolio-page .container-scroll{
        height: 90%;
    }
    /* Responsive Home */
    /** about **/
    .about-page h2 {
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
    /** about **/
    /** services **/
    .services-page .service-body .box-service{
        text-align: center;
    }
    .services-page .service-pragraph,
    .contact-page p{
        padding: 18px 20px;    
        padding-top: 5px;
    }
    .services-page p{
        padding: 10px 20px;
    }
    .services-page h3::before{
        border: none;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: auto;
        margin-top: 32px;
        width: 17%;
        border-bottom: 2px solid #673AB7;
    }
    /** services **/
    
}

@media (max-width: 400px) {
	
	h1, h2 { font-size: 32px; }
    .coming-soon {
        padding: 15px;
    }
    .coming-soon h2 {
        margin-top: 10px;
        font-size: 18px;
    }
    .coming-soon h2:after{
        transform: translate(-165px,0px);
    }
     .home-page .content-home h1 {
      font-size: 2em;
    } 
    .home-page .content-home h1:after{
        transform: translate(0,40px);
    }
    .about-page h2 {
      font-size: 32px;
    }
}

@media (max-width: 360px){	
    .timer .days-wrapper, 
    .timer .hours-wrapper,
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper {
        display: inline-block;
        width: 160px;
        margin: 0 10px;
        font-size: 12px;
    }
    .timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper {
        width: 43px;
    }
}

@media (max-width: 320px){
    
    /* Responsive Home */
    .coming-soon h2 {
        margin-top: 35px;
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .coming-soon.home-page .timer {
        margin-top: 5px;
    }
    .coming-soon .contant-prag {        
        margin-top: 20px;    
    }
    .coming-soon p {    
        font-size: 14px;        
    }
    .coming-soon .contant-btn {
        margin-top: 20px;
    }
    .coming-soon .aboutUsbtn {
        padding: 10px 25px;
    }
    .home-page .copy-right{
        padding: 7px;
        font-size: 10px;
    }
    .home-page .social-media{
        padding: 8px; 
    }
    .home-page .social-media li {    
        padding: 0 5px;
        font-size: 13px;
    }
    .timer .days,
    .timer .hours, 
    .timer .minutes, 
    .timer .seconds {
        font-size: 27px;
        font-weight: 100;
        line-height: 90px;
    }
    .timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper{
        width: 47px;
    }
    .about-page .icon-max span svg.max-min, 
    .services-page .icon-max span svg.max-min,
    .contact-page .icon-max span svg.max-min, 
    .portfolio-page .icon-max span svg.max-min{
        height: 20px;
    }
    /* Responsive Home */
    /* Responsive Nav */
    .navbar-toggler {        
        font-size: 1rem;
    }
    /* Responsive Nav */
    /* Responsive Mob */
    .about-page h2 {
        font-size: 26px;    
        line-height: 35px;
        color: #7d7d7d;
        padding-bottom: 10px;
    }
    p{
        font-size: 14px;
        margin: 0;
    }    
    /* Responsive Mob */
    /* Responsive Service */
    .services-page h2::before {
        width: 118px;
    }
    /* Responsive Service */
    
    /* Responsive Portfolio */
    .portfolio-page .nav-portfolio ul li {    
        padding: 6px 8px;        
        font-size: 13px;
        margin-bottom: 10px;
    }   
    .portfolio-page h2::before {
        width: 121px;
    }
    /* Responsive Portfolio */
    /* Responsive contact */
    .contact-page h2::before {
        width: 126px;
    }
    /* Responsive contact */
    
}
