
    <!-- Start Loading -->
    <div class="body">
        <div class="center">
           <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
           </div>
        </div>
    </div>
    <!-- Start Loading -->       
    <!-- Start NavBar -->      
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <!-- Name Of Porject For You Change Up To You 
            EX:<a class="navbar-brand" href="#">name<small>name</small></a> 
            mobile app .
            -->    
            <a class="navbar-brand smoothScroll" href="#home">        
                Molopan
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav  ml-auto">
                    <li class="active nav-item" id="navHome">
                        <a href="#" class="nav-link"> Home </a>
                    </li>
                    <li id="navAbout" class="nav-item">
                        <a href="#" class="nav-link"> About </a>                
                    </li>
                    <li id="navPortfolio" class="nav-item">
                        <a href="#" class="nav-link"> Portfolio </a>                
                    </li>
                    <li id="navServices" class="nav-item">
                        <a href="#" class="nav-link"> services </a>                
                    </li>
                    <li id="navContact" class="nav-item">
                        <a href="#" class="nav-link"> Contact </a>                
                    </li>
                </ul>        
            </div>
        </div>        
    </nav>              
    <!-- Coming Soon -->
    <section class="coming-soon home-page" id="homePage">        
        <!-- Slider -->
        <div class="slide-comingsoon slide">
            <!-- All Image For Slider -->
            <ul>
                <li data-bg="http://via.placeholder.com/1250x950/cc0000"></li>
                <li data-bg="http://via.placeholder.com/1250x950/000"></li>
                <li data-bg="http://via.placeholder.com/1250x950/333"></li>
                <li data-bg="http://via.placeholder.com/1250x950/0ff"></li>
                <li data-bg="http://via.placeholder.com/1250x950/ddd"></li>                
            </ul>
        </div>
        <!-- Slider -->
        <div class="safehosting-bg container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 content-home">                        
                        <div class="molo-welcome">
                            <span>Welcome To </span>
                            <span>jack Design studio</span>
                        </div>
                      <h1>
                        <span>hello</span> my name is jack.
                      </h1>
                    </div>
                    <!-- Social Media -->
                    <ul class=" wow fadeInUp social-media" data-wow-delay=".4s">
                        <li class="twitter">
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="facebook">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class='github'>
                            <a href='#'>
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class='youtube'>
                            <a href='#'>
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class='linkedin'>
                            <a href='#'>
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class='instagram'>
                            <a href='#'>
                                <i class="fa fa-instagram" aria-hidden="true"></i>                                
                            </a>
                        </li>
                        <li class='pinterest'>
                            <a href='#'>                             
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Social Media -->
                    <!-- Copyright -->
                    <p class="copy-right">M_Alaa Copyright © 2018</p>
                    <!-- Copyright -->
                </div>
            </div>
        </div>      
    </section>          
    <!-- Start About -->
    <section class="about-page" id="aboutPage">
        <div class='row height-all'>
            <!-- Icon max -->
            <div class="col-lg-12 text-right icon-max"> 
                <div class="table-icon-top">
                    <span>
                        <svg class="icon toggle-width max-min" height="21" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M950.857143 1024h-219.428572a73.142857 73.142857 0 1 1 0-146.285714h146.285715v-146.285715a73.142857 73.142857 0 0 1 146.285714 0v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m0-658.285714a73.142857 73.142857 0 0 1-73.142857-73.142857V146.285714h-146.285715a73.142857 73.142857 0 1 1 0-146.285714h219.428572a73.142857 73.142857 0 0 1 73.142857 73.142857v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m-658.285714 658.285714H73.142857a73.142857 73.142857 0 0 1-73.142857-73.142857v-219.428572a73.142857 73.142857 0 0 1 146.285714 0v146.285715h146.285715a73.142857 73.142857 0 1 1 0 146.285714zM292.571429 146.285714H146.285714v146.285715a73.142857 73.142857 0 0 1-146.285714 0V73.142857a73.142857 73.142857 0 0 1 73.142857-73.142857h219.428572a73.142857 73.142857 0 1 1 0 146.285714z" fill="#fff" />
                        </svg>
                        <!-- SVG Close Tab -->
                        <svg class="icon close-section" height="25" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M184.64768 836.34176a20.50048 20.50048 0 0 0 28.9792-0.02048l292.70016-293.04832 292.70016 293.04832a20.48 20.48 0 1 0 28.99968-28.93824L535.61344 514.64192 828.0064 221.92128a20.48 20.48 0 1 0-28.9792-28.93824L506.30656 486.03136 213.6064 192.98304a20.48 20.48 0 1 0-28.9792 28.93824l292.37248 292.72064L184.6272 807.38304a20.48 20.48 0 0 0 0.02048 28.95872z" fill="#fff" />
                        </svg>
                    </span>                
                </div>                
            </div>   
            <div class="col-lg-12 container-scroll">
                <div class="screen-lg-big">
                    <div class="container">
                    <div class="screen-lg">
                        <div class="row list">
                            <div class="col-lg-7 col-md-12 col-sm-12">                    
                                <h2>Hello I'm <span>John Doe</span></h2>
                                <p>
                                    I'm John Doe. Creative Web Designer And Developer With More Than 5 Years Experience. I Design Your Website.
                                </p>
                                <p>
                                    Sed vehicula semper sapien, quis gravida massa cursus luctus. Cras at feugiat urna. Praesent tempus sed quam vel ornare. Quisque tempus orci pretium lorem euismod, a hendrerit odio viverra. In at viverra lacus, a blandit urna. Aenean semper leo at nisl malesuada, rutrum sodales ipsum posuere. Duis sit amet sapien dolor. Vivamus luctus viverra leo, vel ultrices eros eleifend .
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis rhoncus ante, eget molestie dolor. Duis tellus magna, malesuada vitae velit in, ultrices fringilla metus. Nulla faci.
                                </p>
                                <a class="btn btn-molo-border wow fadeInUp" data-wow-delay=".2s"> More About </a>
                                <a class="btn btn-molo wow fadeInUp" data-wow-delay=".2s"> Location </a>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 text-center img-mobile">
                                <img src='http://via.placeholder.com/630x700/cc0000' class='rounded' alt='image-loading'/>
                                <div class="text-center">
                                   <p>
                                       <small>A caption for the above image.</small>
                                    </p> 
                                </div>
                            </div>
                        </div> 
                    </div>                                       
                </div>    
                </div>    
            </div>                
        </div>        
    </section>        
    <!-- Start Portfolio -->  
    <section class="portfolio-page" id="portfolioPage">
        <div class='row height-all'>
            <!-- Icon max -->            
            <div class="col-lg-12 text-right icon-max"> 
                <div class="table-icon-top">
                    <span>
                        <svg class="icon toggle-width max-min" height="21" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M950.857143 1024h-219.428572a73.142857 73.142857 0 1 1 0-146.285714h146.285715v-146.285715a73.142857 73.142857 0 0 1 146.285714 0v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m0-658.285714a73.142857 73.142857 0 0 1-73.142857-73.142857V146.285714h-146.285715a73.142857 73.142857 0 1 1 0-146.285714h219.428572a73.142857 73.142857 0 0 1 73.142857 73.142857v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m-658.285714 658.285714H73.142857a73.142857 73.142857 0 0 1-73.142857-73.142857v-219.428572a73.142857 73.142857 0 0 1 146.285714 0v146.285715h146.285715a73.142857 73.142857 0 1 1 0 146.285714zM292.571429 146.285714H146.285714v146.285715a73.142857 73.142857 0 0 1-146.285714 0V73.142857a73.142857 73.142857 0 0 1 73.142857-73.142857h219.428572a73.142857 73.142857 0 1 1 0 146.285714z" fill="#fff" />
                        </svg>
                        <!-- SVG Close Tab -->
                        <svg class="icon close-section" height="25" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M184.64768 836.34176a20.50048 20.50048 0 0 0 28.9792-0.02048l292.70016-293.04832 292.70016 293.04832a20.48 20.48 0 1 0 28.99968-28.93824L535.61344 514.64192 828.0064 221.92128a20.48 20.48 0 1 0-28.9792-28.93824L506.30656 486.03136 213.6064 192.98304a20.48 20.48 0 1 0-28.9792 28.93824l292.37248 292.72064L184.6272 807.38304a20.48 20.48 0 0 0 0.02048 28.95872z" fill="#fff" />
                        </svg>
                    </span>                
                </div>                
            </div>  
            <!-- Icon max -->                
            <div class="col-lg-12 container-scroll"> 
                <div class="container">
                    <div class="row list">
                        <h2 class="text-center col-lg-12" data-text='_Portfolio'>
                            <span>_</span>Portfolio
                        </h2>                
                        <!-- Some Text -->
                        <p class="text-center col-lg-12 service-pragraph">
                            sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  
                        </p>                        
                        <nav class="col-lg-12 text-center nav-portfolio">
                            <ul>
                                <li data-rel="all" class="nav-filter-portfolio active">all</li>
                                <li data-rel="web" class="nav-filter-portfolio">website</li>
                                <li data-rel="flyers" class="nav-filter-portfolio">Flyers</li>
                                <li data-rel="bcards" class="nav-filter-portfolio">business Cards</li>
                            </ul>
                        </nav> 
                        <div class="col-lg-12 filter-port row" id="filter-portfolio">  
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm web all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm flyers all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm bcards web all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm flyers all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm bcards web all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm flyers all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm web all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm flyers all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm web all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm bcards all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->
                            <!-- Start Porject -->
                            <div class="col-lg-4 tile scale-anm web all"> 
                                <div class="content-work">
                                    <!-- Image For Project -->
                                    <img src="http://via.placeholder.com/250x150" alt="porject-portfolio">
                                    <div class="content-icon">           
                                        <div class="table-icon">
                                            <div class="middle-cell text-center">
                                                <!-- Icon To Show Image Popups -->
                                                <a class='magnific-icon' href="http://via.placeholder.com/250x150" title="Project One"></a>          
                                                <!-- Icon To direct Link -->
                                                <a class='link-icon' href="#"></a>          
                                            </div>
                                        </div>                                        
                                    </div>                                
                                </div>    
                            </div>
                            <!-- End Porject -->                                                      
                        </div>
                    </div>
                </div>
            </div>            
        </div>  
    </section>     
    <!-- Start Services -->
    <section class="services-page" id="servicesPage">                
        <div class='row height-all'>
                <!-- Icon max -->
            <div class="col-lg-12 text-right icon-max"> 
                <div class="table-icon-top">
                    <span>
                        <svg class="icon toggle-width max-min" height="21" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M950.857143 1024h-219.428572a73.142857 73.142857 0 1 1 0-146.285714h146.285715v-146.285715a73.142857 73.142857 0 0 1 146.285714 0v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m0-658.285714a73.142857 73.142857 0 0 1-73.142857-73.142857V146.285714h-146.285715a73.142857 73.142857 0 1 1 0-146.285714h219.428572a73.142857 73.142857 0 0 1 73.142857 73.142857v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m-658.285714 658.285714H73.142857a73.142857 73.142857 0 0 1-73.142857-73.142857v-219.428572a73.142857 73.142857 0 0 1 146.285714 0v146.285715h146.285715a73.142857 73.142857 0 1 1 0 146.285714zM292.571429 146.285714H146.285714v146.285715a73.142857 73.142857 0 0 1-146.285714 0V73.142857a73.142857 73.142857 0 0 1 73.142857-73.142857h219.428572a73.142857 73.142857 0 1 1 0 146.285714z" fill="#fff" />
                        </svg>
                        <!-- SVG Close Tab -->
                        <svg class="icon close-section" height="25" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M184.64768 836.34176a20.50048 20.50048 0 0 0 28.9792-0.02048l292.70016-293.04832 292.70016 293.04832a20.48 20.48 0 1 0 28.99968-28.93824L535.61344 514.64192 828.0064 221.92128a20.48 20.48 0 1 0-28.9792-28.93824L506.30656 486.03136 213.6064 192.98304a20.48 20.48 0 1 0-28.9792 28.93824l292.37248 292.72064L184.6272 807.38304a20.48 20.48 0 0 0 0.02048 28.95872z" fill="#fff" />
                        </svg>
                    </span>                
                </div>                
            </div>  
                <!-- Icon max -->                
                <div class="col-lg-12 container-scroll">
                    <div class="screen-lg-big">
                        <div class="container">
                            <div class="row list">
                                <h2 class="text-center col-lg-12" data-text='_OURservice'>
                                    <span>_</span>OURservice
                                </h2>                
                                <!-- Some Text -->
                                <p class="text-center col-lg-12 service-pragraph">
                                    sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  
                                </p>
                                <!-- Service 1-->
                                <div class="col-lg-6 text-center service-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <!-- image Service One -->
                                            <img src="http://via.placeholder.com/55x55/0ff" alt='img-laoding'>
                                        </div>
                                        <div class='box-service col-md-9 col-sm-9 col-xs-9'>
                                            <!-- Header It-->
                                            <h3>Advanced Storage</h3>
                                            <!-- Some Of Knowledge -->
                                            <p>
                                                sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error
                                            </p>
                                        </div>
                                    </div>                    
                                </div>
                                <!-- Service 2-->
                                <div class="col-lg-6 text-center service-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="http://via.placeholder.com/55x55/ff0" alt="image-loading">
                                        </div>
                                        <div class='box-service col-md-9 col-sm-9 col-xs-9'>
                                            <h3>Data Monitoring</h3>
                                            <p>
                                                sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error 
                                            </p>
                                        </div>
                                    </div>
                                </div> 
                                <!-- Service 3-->
                                <div class="col-lg-6 text-center service-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="http://via.placeholder.com/55x55/ddd" alt="image-loading">
                                        </div>
                                        <div class='box-service col-md-9 col-sm-9 col-xs-9'>
                                            <h3>Data security</h3>
                                            <p>
                                                sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error 
                                            </p>
                                        </div>
                                    </div>
                                </div>                                 
                                <!-- Service 4-->
                                <div class="col-lg-6 text-center service-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="http://via.placeholder.com/55x55/888" alt="image-loading">
                                        </div>
                                        <div class='box-service col-md-9 col-sm-9 col-xs-9'>
                                            <h3>24/7 Support</h3>
                                            <p>
                                                sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error
                                            </p>
                                        </div>
                                    </div>
                                </div> 
                                <!-- Service 5-->
                                <div class="col-lg-6 text-center service-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="http://via.placeholder.com/55x55/000" alt="image-loading">
                                        </div>
                                        <div class='box-service col-md-9 col-sm-9 col-xs-9'>
                                            <h3>Technical Service</h3>
                                            <p>
                                                sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error 
                                            </p>
                                        </div>
                                    </div>
                                </div> 
                                <!-- Service 6-->
                                <div class="col-lg-6 text-center service-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="http://via.placeholder.com/55x55/ff0" alt="image-loading">
                                        </div>
                                        <div class='box-service col-md-9 col-sm-9 col-xs-9'>
                                            <h3>Bugs Free</h3>
                                            <p>
                                                sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error
                                            </p>
                                        </div>
                                    </div>
                                </div>             
                            </div>
                        </div>    
                    </div>    
                </div>
            </div>                   
    </section>           
    <!-- Start Contact -->
    <section class="contact-page" id="contactPage">        
        <div class='row height-all'>
            <!-- Icon max -->
            <div class="col-lg-12 text-right icon-max"> 
                <div class="table-icon-top">                    
                    <span>
                        <svg class="icon toggle-width max-min" height="21" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M950.857143 1024h-219.428572a73.142857 73.142857 0 1 1 0-146.285714h146.285715v-146.285715a73.142857 73.142857 0 0 1 146.285714 0v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m0-658.285714a73.142857 73.142857 0 0 1-73.142857-73.142857V146.285714h-146.285715a73.142857 73.142857 0 1 1 0-146.285714h219.428572a73.142857 73.142857 0 0 1 73.142857 73.142857v219.428572a73.142857 73.142857 0 0 1-73.142857 73.142857z m-658.285714 658.285714H73.142857a73.142857 73.142857 0 0 1-73.142857-73.142857v-219.428572a73.142857 73.142857 0 0 1 146.285714 0v146.285715h146.285715a73.142857 73.142857 0 1 1 0 146.285714zM292.571429 146.285714H146.285714v146.285715a73.142857 73.142857 0 0 1-146.285714 0V73.142857a73.142857 73.142857 0 0 1 73.142857-73.142857h219.428572a73.142857 73.142857 0 1 1 0 146.285714z" fill="#fff" />
                        </svg>
                        <!-- SVG Close Tab -->
                        <svg class="icon close-section" height="25" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M184.64768 836.34176a20.50048 20.50048 0 0 0 28.9792-0.02048l292.70016-293.04832 292.70016 293.04832a20.48 20.48 0 1 0 28.99968-28.93824L535.61344 514.64192 828.0064 221.92128a20.48 20.48 0 1 0-28.9792-28.93824L506.30656 486.03136 213.6064 192.98304a20.48 20.48 0 1 0-28.9792 28.93824l292.37248 292.72064L184.6272 807.38304a20.48 20.48 0 0 0 0.02048 28.95872z" fill="#fff" />
                        </svg>
                    </span>                
                </div>                
            </div> 
            <!-- Icon max -->
            <!--  Start -->
            <div class="col-lg-12 container-scroll">
                <div class="screen-lg-big">
                    <div class="container">
                    <div class="row list">
                        <h2 class="text-center col-lg-12" data-text='_Contact Us'> <span>_</span>Contact Us </h2>                
                        <p class="text-center wow fadeIn col-lg-12 contact-parg" data-wow-delay=".1s">
                            Sed vehicula semper sapien, quis gravida massa cursus luctus. Cras at feugiat urna quis gravida massa cursus luctus.        
                        </p>
                        <div class="col-lg-12">                                 
                             <form method="post" id="ajax-contact" class="wow fadeIn" data-wow-delay=".2s">
                                 <div class="form-group">                             
                                     <input type="text" class="form-control form-input" id="name" name='name' placeholder="name" data-error="Please, enter your name" required>
                                 </div>
                                 <div class="form-group">                            
                                    <input type="email" class="form-control form-input" id="email" name='email' placeholder="Email" data-error="Please, enter your Email" required>
                                 </div>       
                                 <div class="form-group">                            
                                    <textarea class="form-control textarea-input" rows="7" id="message" name='message' placeholder="message" data-error="Please, enter your message" required></textarea>
                                 </div>
                                 <input type="submit" id='submit' class="btn-molo btn" value="Send">                         
                             </form>
                            <!-- Append Message when Success -->
                            <div id="form-messages" class="alert alert-success"></div>
                        </div> 
                        <!-- End Form -->
                    </div>
                </div>
                </div>    
            </div>
        </div>        
    </section>  
    <!-- End Contact -->