/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  display: none;
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    background-blend-mode: overlay;
    background-size: cover;    
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 222;
}
.particles-Home-page{
    background-image: url(http://via.placeholder.com/1250x950/fafafa);
    background-size: cover;    
    background-position: 50% 50%;    
    background-repeat: no-repeat;        
}
#particles-js canvas{
    background: none;
}
.nav-particles.navbar-dark .navbar-brand,
.particles-Home-page h1,
.nav-particles .navbar-nav .nav-link,
.nav-particles .navbar-nav.active .nav-link{
    color: #333 !important
}
.about-page, .services-page, .contact-page, .portfolio-page{
    box-shadow: 2px 3px 9px #b0b0b0;
}